In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import isnan, when, count, col
spark = SparkSession.builder.appName('dataPreparation').getOrCreate()

In [2]:
data = spark.read.csv("Datasets/Average Hourly Earnings by Industry ANZSIC06 and Sex Quarterly December 2018.csv",inferSchema=True,header=True)
data.show()

+-----------+-------------------+------+-----------------------------+------------------------+------------------------------------------------+
|YearQuarter|           Industry|Gender|Ordinary Time Hourly Earnings|Overtime Hourly Earnings|Total (Ordinary Time + Overtime) Hourly Earnings|
+-----------+-------------------+------+-----------------------------+------------------------+------------------------------------------------+
|     1989Q1|Forestry and Mining|  Male|                        13.97|                   16.74|                                           14.18|
|     1989Q2|Forestry and Mining|  Male|                        14.07|                   16.44|                                           14.24|
|     1989Q3|Forestry and Mining|  Male|                        14.04|                   16.64|                                           14.23|
|     1989Q4|Forestry and Mining|  Male|                         14.3|                    16.5|                                           14.48|
|     1990Q1|Forestry and Mining|  Male|                        14.29|                   16.16|                                           14.42|
|     1990Q2|Forestry and Mining|  Male|                        14.37|                   17.49|                                            14.6|
|     1990Q3|Forestry and Mining|  Male|                        14.64|                   18.36|                                           14.88|
|     1990Q4|Forestry and Mining|  Male|                        14.96|                   17.49|                                           15.16|
|     1991Q1|Forestry and Mining|  Male|                        14.71|                   17.32|                                           14.89|
|     1991Q2|Forestry and Mining|  Male|                        15.16|                   17.92|                                           15.35|
|     1991Q3|Forestry and Mining|  Male|                        15.63|                   18.49|                                           15.82|
|     1991Q4|Forestry and Mining|  Male|                        16.13|                   18.23|                                           16.29|
|     1992Q1|Forestry and Mining|  Male|                        15.55|                   17.83|                                           15.73|
|     1992Q2|Forestry and Mining|  Male|                        15.74|                    18.5|                                           15.98|
|     1992Q3|Forestry and Mining|  Male|                        15.87|                    18.6|                                           16.09|
|     1992Q4|Forestry and Mining|  Male|                         15.7|                   18.25|                                           15.91|
|     1993Q1|Forestry and Mining|  Male|                        15.05|                    18.6|                                           15.31|
|     1993Q2|Forestry and Mining|  Male|                         14.9|                   18.94|                                           15.23|
|     1993Q3|Forestry and Mining|  Male|                        14.84|                   19.27|                                           15.16|
|     1993Q4|Forestry and Mining|  Male|                        15.09|                   17.86|                                           15.32|
+-----------+-------------------+------+-----------------------------+------------------------+------------------------------------------------+
only showing top 20 rows

In [3]:
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+-----------+--------+------+-----------------------------+------------------------+------------------------------------------------+
|YearQuarter|Industry|Gender|Ordinary Time Hourly Earnings|Overtime Hourly Earnings|Total (Ordinary Time + Overtime) Hourly Earnings|
+-----------+--------+------+-----------------------------+------------------------+------------------------------------------------+
|          0|       0|     0|                            0|                       0|                                               0|
+-----------+--------+------+-----------------------------+------------------------+------------------------------------------------+

In [4]:
results = data.select('Ordinary Time Hourly Earnings', 'Overtime Hourly Earnings', 'Total (Ordinary Time + Overtime) Hourly Earnings')

In [5]:
bounds = {
    c: dict(
        zip(["q1", "q3"], results.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in results.columns
}

for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

{'Ordinary Time Hourly Earnings': {'q3': 26.93, 'q1': 15.78, 'upper': 43.655, 'lower': -0.9450000000000021}, 'Total (Ordinary Time + Overtime) Hourly Earnings': {'q3': 26.96, 'q1': 15.9, 'upper': 43.55, 'lower': -0.6899999999999995}, 'Overtime Hourly Earnings': {'q3': 28.57, 'q1': 18.6, 'upper': 43.525, 'lower': 3.645000000000003}}

In [6]:
import pyspark.sql.functions as f
results.select(
    "*",
    *[
        f.when(
            f.col(c).between(bounds[c]['lower'], bounds[c]['upper']),
            0
        ).otherwise(1).alias(c+"_out") 
        for c in results.columns
    ]
).describe().show()

+-------+-----------------------------+------------------------+------------------------------------------------+---------------------------------+----------------------------+----------------------------------------------------+
|summary|Ordinary Time Hourly Earnings|Overtime Hourly Earnings|Total (Ordinary Time + Overtime) Hourly Earnings|Ordinary Time Hourly Earnings_out|Overtime Hourly Earnings_out|Total (Ordinary Time + Overtime) Hourly Earnings_out|
+-------+-----------------------------+------------------------+------------------------------------------------+---------------------------------+----------------------------+----------------------------------------------------+
|  count|                         6120|                    6120|                                            6120|                             6120|                        6120|                                                6120|
|   mean|           21.840455882352916|      24.210566993464013|                              21.902465686274518|             0.009477124183006535|         0.02630718954248366|                                0.010294117647058823|
| stddev|            7.760313690688466|       8.050718595402456|                               7.725906006015882|              0.09689603926273563|         0.16006032450989463|                                 0.10094460753889126|
|    min|                          8.7|                    4.87|                                            8.96|                                0|                           0|                                                   0|
|    max|                        54.21|                   87.77|                                            54.1|                                1|                           1|                                                   1|
+-------+-----------------------------+------------------------+------------------------------------------------+---------------------------------+----------------------------+----------------------------------------------------+

In [7]:
data1 = spark.read.csv("Datasets/Average Weekly Paid Hours (Employees) by Industry (ANZSIC06) and Sex (Qrtly-MarJunSepDec).csv",inferSchema=True,header=True)
data1.show()

+-----------+-------------------+------+---------------------------------------+----------------------------------+----------------------------------------------------------+
|YearQuarter|           Industry|Gender|Average Weekly Ordinary Time Hours Paid|Average Weekly Overtime Hours Paid|Average Total (Ordinary Time + Overtime) Weekly Hours Paid|
+-----------+-------------------+------+---------------------------------------+----------------------------------+----------------------------------------------------------+
|     1989Q1|Forestry and Mining|  Male|                                  37.74|                              3.15|                                                      40.9|
|     1989Q2|Forestry and Mining|  Male|                                   36.9|                              2.87|                                                     39.77|
|     1989Q3|Forestry and Mining|  Male|                                  37.22|                              2.81|                                                     40.03|
|     1989Q4|Forestry and Mining|  Male|                                  36.41|                              3.31|                                                     39.72|
|     1990Q1|Forestry and Mining|  Male|                                  36.78|                              2.87|                                                     39.65|
|     1990Q2|Forestry and Mining|  Male|                                  36.89|                              3.06|                                                     39.96|
|     1990Q3|Forestry and Mining|  Male|                                  36.62|                              2.51|                                                     39.13|
|     1990Q4|Forestry and Mining|  Male|                                  36.77|                              3.21|                                                     39.97|
|     1991Q1|Forestry and Mining|  Male|                                  37.43|                              2.82|                                                     40.25|
|     1991Q2|Forestry and Mining|  Male|                                  37.52|                              2.87|                                                     40.39|
|     1991Q3|Forestry and Mining|  Male|                                  37.68|                              2.66|                                                     40.34|
|     1991Q4|Forestry and Mining|  Male|                                  36.87|                              3.01|                                                     39.88|
|     1992Q1|Forestry and Mining|  Male|                                  37.64|                              3.34|                                                     40.98|
|     1992Q2|Forestry and Mining|  Male|                                  38.17|                               3.7|                                                     41.87|
|     1992Q3|Forestry and Mining|  Male|                                  37.89|                              3.26|                                                     41.16|
|     1992Q4|Forestry and Mining|  Male|                                   37.8|                              3.49|                                                     41.29|
|     1993Q1|Forestry and Mining|  Male|                                  38.05|                              2.95|                                                      41.0|
|     1993Q2|Forestry and Mining|  Male|                                  37.89|                              3.35|                                                     41.23|
|     1993Q3|Forestry and Mining|  Male|                                  37.69|                              2.93|                                                     40.62|
|     1993Q4|Forestry and Mining|  Male|                                  37.77|                              3.41|                                                     41.18|
+-----------+-------------------+------+---------------------------------------+----------------------------------+----------------------------------------------------------+
only showing top 20 rows

In [8]:
data1.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data1.columns]).show()

+-----------+--------+------+---------------------------------------+----------------------------------+----------------------------------------------------------+
|YearQuarter|Industry|Gender|Average Weekly Ordinary Time Hours Paid|Average Weekly Overtime Hours Paid|Average Total (Ordinary Time + Overtime) Weekly Hours Paid|
+-----------+--------+------+---------------------------------------+----------------------------------+----------------------------------------------------------+
|          0|       0|     0|                                      0|                                 0|                                                         0|
+-----------+--------+------+---------------------------------------+----------------------------------+----------------------------------------------------------+

In [9]:
results2 = data1.select('Average Weekly Ordinary Time Hours Paid', 'Average Weekly Overtime Hours Paid', 'Average Total (Ordinary Time + Overtime) Weekly Hours Paid')

In [10]:
bounds = {
    c: dict(
        zip(["q1", "q3"], results2.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in results2.columns
}

for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

{'Average Weekly Overtime Hours Paid': {'q3': 1.15, 'q1': 0.27, 'upper': 2.4699999999999998, 'lower': -1.0499999999999998}, 'Average Weekly Ordinary Time Hours Paid': {'q3': 35.85, 'q1': 29.34, 'upper': 45.615, 'lower': 19.574999999999996}, 'Average Total (Ordinary Time + Overtime) Weekly Hours Paid': {'q3': 36.89, 'q1': 29.59, 'upper': 47.84, 'lower': 18.64}}

In [11]:
import pyspark.sql.functions as f
results2.select(
    "*",
    *[
        f.when(
            f.col(c).between(bounds[c]['lower'], bounds[c]['upper']),
            0
        ).otherwise(1).alias(c+"_out") 
        for c in results2.columns
    ]
).describe().show()

+-------+---------------------------------------+----------------------------------+----------------------------------------------------------+-------------------------------------------+--------------------------------------+--------------------------------------------------------------+
|summary|Average Weekly Ordinary Time Hours Paid|Average Weekly Overtime Hours Paid|Average Total (Ordinary Time + Overtime) Weekly Hours Paid|Average Weekly Ordinary Time Hours Paid_out|Average Weekly Overtime Hours Paid_out|Average Total (Ordinary Time + Overtime) Weekly Hours Paid_out|
+-------+---------------------------------------+----------------------------------+----------------------------------------------------------+-------------------------------------------+--------------------------------------+--------------------------------------------------------------+
|  count|                                   6120|                              6120|                                                      6120|                                       6120|                                  6120|                                                          6120|
|   mean|                     32.438939542483546|                0.8350539215686288|                                        33.273946078431315|                        0.00130718954248366|                    0.0565359477124183|                                          1.633986928104575E-4|
| stddev|                      4.361700338670528|                0.8118958243401412|                                         4.850888836495597|                       0.036134390083415915|                   0.23097262041106956|                                          0.012782749814122847|
|    min|                                   16.4|                              0.01|                                                      16.9|                                          0|                                     0|                                                             0|
|    max|                                   41.6|                              5.21|                                                     44.34|                                          1|                                     1|                                                             1|
+-------+---------------------------------------+----------------------------------+----------------------------------------------------------+-------------------------------------------+--------------------------------------+--------------------------------------------------------------+

In [12]:
data2 = spark.read.csv("Datasets/Filled Jobs by Industry (ANZSIC06) by Sex and Status in Employment (Qrtly-MarJunSepDec).csv",inferSchema=True,header=True)
data2.show()

+-----------+-------------------+------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+
|YearQuarter|           Industry|Gender|Number of Working Proprietors|Number of Part-Time Paid Employees|Number of Full-Time Paid Employees|Total Number of People in Employment|
+-----------+-------------------+------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+
|     1989Q1|Forestry and Mining|  Male|                          800|                               800|                              9000|                               10700|
|     1989Q2|Forestry and Mining|  Male|                          800|                               900|                              8100|                                9800|
|     1989Q3|Forestry and Mining|  Male|                          800|                               800|                              7900|                                9500|
|     1989Q4|Forestry and Mining|  Male|                          800|                               900|                              7500|                                9200|
|     1990Q1|Forestry and Mining|  Male|                          800|                               800|                              7700|                                9400|
|     1990Q2|Forestry and Mining|  Male|                          800|                               800|                              7100|                                8800|
|     1990Q3|Forestry and Mining|  Male|                          800|                               800|                              7700|                                9300|
|     1990Q4|Forestry and Mining|  Male|                          800|                               800|                              7400|                                9000|
|     1991Q1|Forestry and Mining|  Male|                          800|                               800|                              8100|                                9700|
|     1991Q2|Forestry and Mining|  Male|                          800|                               800|                              7500|                                9100|
|     1991Q3|Forestry and Mining|  Male|                          800|                               800|                              7500|                                9100|
|     1991Q4|Forestry and Mining|  Male|                          900|                               800|                              7500|                                9200|
|     1992Q1|Forestry and Mining|  Male|                          900|                               700|                              8400|                               10000|
|     1992Q2|Forestry and Mining|  Male|                          900|                               700|                              7700|                                9200|
|     1992Q3|Forestry and Mining|  Male|                          900|                               700|                              7600|                                9300|
|     1992Q4|Forestry and Mining|  Male|                          900|                               700|                              7500|                                9200|
|     1993Q1|Forestry and Mining|  Male|                         1000|                               700|                              9100|                               10800|
|     1993Q2|Forestry and Mining|  Male|                         1000|                               600|                              8300|                                9900|
|     1993Q3|Forestry and Mining|  Male|                         1100|                               700|                              8400|                               10100|
|     1993Q4|Forestry and Mining|  Male|                         1100|                               700|                              8400|                               10200|
+-----------+-------------------+------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+
only showing top 20 rows

In [13]:
data2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data2.columns]).show()

+-----------+--------+------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+
|YearQuarter|Industry|Gender|Number of Working Proprietors|Number of Part-Time Paid Employees|Number of Full-Time Paid Employees|Total Number of People in Employment|
+-----------+--------+------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+
|          0|       0|     0|                            0|                                 0|                                 0|                                   0|
+-----------+--------+------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+

In [14]:
results3 = data2.select('Number of Working Proprietors', 'Number of Part-Time Paid Employees', 'Number of Full-Time Paid Employees', 'Total Number of People in Employment')

In [15]:
bounds = {
    c: dict(
        zip(["q1", "q3"], results3.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in results3.columns
}

for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

{'Number of Working Proprietors': {'q3': 9200.0, 'q1': 700.0, 'upper': 21950.0, 'lower': -12050.0}, 'Total Number of People in Employment': {'q3': 104200.0, 'q1': 22700.0, 'upper': 226450.0, 'lower': -99550.0}, 'Number of Part-Time Paid Employees': {'q3': 28500.0, 'q1': 4000.0, 'upper': 65250.0, 'lower': -32750.0}, 'Number of Full-Time Paid Employees': {'q3': 62300.0, 'q1': 14100.0, 'upper': 134600.0, 'lower': -58200.0}}

In [16]:
import pyspark.sql.functions as f
results3.select(
    "*",
    *[
        f.when(
            f.col(c).between(bounds[c]['lower'], bounds[c]['upper']),
            0
        ).otherwise(1).alias(c+"_out") 
        for c in results3.columns
    ]
).describe().show()

+-------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+---------------------------------+--------------------------------------+--------------------------------------+----------------------------------------+
|summary|Number of Working Proprietors|Number of Part-Time Paid Employees|Number of Full-Time Paid Employees|Total Number of People in Employment|Number of Working Proprietors_out|Number of Part-Time Paid Employees_out|Number of Full-Time Paid Employees_out|Total Number of People in Employment_out|
+-------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+---------------------------------+--------------------------------------+--------------------------------------+----------------------------------------+
|  count|                         6120|                              6120|                              6120|                                6120|                             6120|                                  6120|                                  6120|                                    6120|
|   mean|            9733.071895424837|                 32557.63071895425|                 78505.24509803922|                  120796.66666666667|              0.06405228758169934|                   0.10800653594771242|                   0.09754901960784314|                     0.07287581699346406|
| stddev|            20671.29766581712|                 72318.98628772057|                165525.36929618794|                   252199.2608754861|              0.24486606404948752|                    0.3104140279154299|                   0.29672815040598977|                      0.2599537922724639|
|    min|                            0|                               100|                               600|                                1000|                                0|                                     0|                                     0|                                       0|
|    max|                       152900|                            519600|                           1342100|                             1974700|                                1|                                     1|                                     1|                                       1|
+-------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+---------------------------------+--------------------------------------+--------------------------------------+----------------------------------------+

In [17]:
data3 = spark.read.csv("Datasets/Full-Time Equivalent Employees by Industry (ANZSIC06) and Sex (Qrtly-MarJunSepDec).csv",inferSchema=True,header=True)
data3.show()

+-----------+-------------------+------+----------------------------------------+
|YearQuarter|           Industry|Gender|Number of Full-Time Equivalent Employees|
+-----------+-------------------+------+----------------------------------------+
|     1989Q1|Forestry and Mining|  Male|                                    9400|
|     1989Q2|Forestry and Mining|  Male|                                    8600|
|     1989Q3|Forestry and Mining|  Male|                                    8300|
|     1989Q4|Forestry and Mining|  Male|                                    7900|
|     1990Q1|Forestry and Mining|  Male|                                    8100|
|     1990Q2|Forestry and Mining|  Male|                                    7500|
|     1990Q3|Forestry and Mining|  Male|                                    8100|
|     1990Q4|Forestry and Mining|  Male|                                    7800|
|     1991Q1|Forestry and Mining|  Male|                                    8500|
|     1991Q2|Forestry and Mining|  Male|                                    7800|
|     1991Q3|Forestry and Mining|  Male|                                    7800|
|     1991Q4|Forestry and Mining|  Male|                                    7900|
|     1992Q1|Forestry and Mining|  Male|                                    8800|
|     1992Q2|Forestry and Mining|  Male|                                    8000|
|     1992Q3|Forestry and Mining|  Male|                                    8000|
|     1992Q4|Forestry and Mining|  Male|                                    7900|
|     1993Q1|Forestry and Mining|  Male|                                    9500|
|     1993Q2|Forestry and Mining|  Male|                                    8600|
|     1993Q3|Forestry and Mining|  Male|                                    8700|
|     1993Q4|Forestry and Mining|  Male|                                    8700|
+-----------+-------------------+------+----------------------------------------+
only showing top 20 rows

In [18]:
data3.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data3.columns]).show()

+-----------+--------+------+----------------------------------------+
|YearQuarter|Industry|Gender|Number of Full-Time Equivalent Employees|
+-----------+--------+------+----------------------------------------+
|          0|       0|     0|                                       0|
+-----------+--------+------+----------------------------------------+

In [19]:
results4 = data3.select('Number of Full-Time Equivalent Employees')

In [20]:
bounds = {
    c: dict(
        zip(["q1", "q3"], results4.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in results4.columns
}

for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

{'Number of Full-Time Equivalent Employees': {'q3': 78900.0, 'q1': 17500.0, 'upper': 171000.0, 'lower': -74600.0}}

In [21]:
import pyspark.sql.functions as f
results4.select(
    "*",
    *[
        f.when(
            f.col(c).between(bounds[c]['lower'], bounds[c]['upper']),
            0
        ).otherwise(1).alias(c+"_out") 
        for c in results4.columns
    ]
).describe().show()

+-------+----------------------------------------+--------------------------------------------+
|summary|Number of Full-Time Equivalent Employees|Number of Full-Time Equivalent Employees_out|
+-------+----------------------------------------+--------------------------------------------+
|  count|                                    6120|                                        6120|
|   mean|                       94783.25163398693|                         0.08349673202614379|
| stddev|                       198506.0713472215|                         0.27665417744919085|
|    min|                                     700|                                           0|
|    max|                                 1592800|                                           1|
+-------+----------------------------------------+--------------------------------------------+

In [22]:
data4 = spark.read.csv("Datasets/Total Gross Earnings by Industry (ANZSIC06) (Qrtly-MarJunSepDec).csv",inferSchema=True,header=True)
data4.show()

+-----------+-------------------+--------------------+
|YearQuarter|           Industry|Total Gross Earnings|
+-----------+-------------------+--------------------+
|     1989Q1|Forestry and Mining|             6273000|
|     1989Q2|Forestry and Mining|             5601500|
|     1989Q3|Forestry and Mining|             5417300|
|     1989Q4|Forestry and Mining|             5228800|
|     1990Q1|Forestry and Mining|             5234500|
|     1990Q2|Forestry and Mining|             5004300|
|     1990Q3|Forestry and Mining|             5385500|
|     1990Q4|Forestry and Mining|             5388800|
|     1991Q1|Forestry and Mining|             5769000|
|     1991Q2|Forestry and Mining|             5560500|
|     1991Q3|Forestry and Mining|             5727100|
|     1991Q4|Forestry and Mining|             5879700|
|     1992Q1|Forestry and Mining|             6338500|
|     1992Q2|Forestry and Mining|             5993000|
|     1992Q3|Forestry and Mining|             5995200|
|     1992Q4|Forestry and Mining|             5815100|
|     1993Q1|Forestry and Mining|             6628800|
|     1993Q2|Forestry and Mining|             5956400|
|     1993Q3|Forestry and Mining|             5954400|
|     1993Q4|Forestry and Mining|             6107000|
+-----------+-------------------+--------------------+
only showing top 20 rows

In [23]:
data4.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data4.columns]).show()

+-----------+--------+--------------------+
|YearQuarter|Industry|Total Gross Earnings|
+-----------+--------+--------------------+
|          0|       0|                   0|
+-----------+--------+--------------------+

In [24]:
results5 = data4.select('Total Gross Earnings')

In [25]:
bounds = {
    c: dict(
        zip(["q1", "q3"], results5.approxQuantile(c, [0.25, 0.75], 0))
    )
    for c in results5.columns
}

for c in bounds:
    iqr = bounds[c]['q3'] - bounds[c]['q1']
    bounds[c]['lower'] = bounds[c]['q1'] - (iqr * 1.5)
    bounds[c]['upper'] = bounds[c]['q3'] + (iqr * 1.5)
print(bounds)

{'Total Gross Earnings': {'q3': 101427500.0, 'q1': 27123500.0, 'upper': 212883500.0, 'lower': -84332500.0}}

In [26]:
import pyspark.sql.functions as f
results5.select(
    "*",
    *[
        f.when(
            f.col(c).between(bounds[c]['lower'], bounds[c]['upper']),
            0
        ).otherwise(1).alias(c+"_out") 
        for c in results5.columns
    ]
).describe().show()

+-------+--------------------+------------------------+
|summary|Total Gross Earnings|Total Gross Earnings_out|
+-------+--------------------+------------------------+
|  count|                2040|                    2040|
|   mean|1.2021931794117647E8|     0.07549019607843137|
| stddev| 2.537836196783933E8|      0.2642454439277016|
|    min|             4721200|                       0|
|    max|          1955658900|                       1|
+-------+--------------------+------------------------+

In [27]:
data = data.filter((data.Gender != 'Both Sexes'))
data1 = data1.filter((data1.Gender != 'Both Sexes'))
data2 = data2.filter((data2.Gender != 'Both Sexes'))
data3 = data3.filter((data3.Gender != 'Both Sexes'))

In [28]:
data.createOrReplaceTempView('data') 
data1.createOrReplaceTempView('data1') 
data2.createOrReplaceTempView('data2') 
data3.createOrReplaceTempView('data3') 
data4.createOrReplaceTempView('data4')

In [29]:
combined4 = data.join(data1, ['YearQuarter', 'Industry', 'Gender'])
combined3 = combined4.join(data2, ['YearQuarter', 'Industry', 'Gender'])
combined2 = combined3.join(data3, ['YearQuarter', 'Industry', 'Gender'])
combined1 = combined2.join(data4, ['YearQuarter', 'Industry'])
combined1.show()

+-----------+-------------------+------+-----------------------------+------------------------+------------------------------------------------+---------------------------------------+----------------------------------+----------------------------------------------------------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+----------------------------------------+--------------------+
|YearQuarter|           Industry|Gender|Ordinary Time Hourly Earnings|Overtime Hourly Earnings|Total (Ordinary Time + Overtime) Hourly Earnings|Average Weekly Ordinary Time Hours Paid|Average Weekly Overtime Hours Paid|Average Total (Ordinary Time + Overtime) Weekly Hours Paid|Number of Working Proprietors|Number of Part-Time Paid Employees|Number of Full-Time Paid Employees|Total Number of People in Employment|Number of Full-Time Equivalent Employees|Total Gross Earnings|
+-----------+-------------------+------+-----------------------------+------------------------+------------------------------------------------+---------------------------------------+----------------------------------+----------------------------------------------------------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+----------------------------------------+--------------------+
|     1989Q1|Forestry and Mining|  Male|                        13.97|                   16.74|                                           14.18|                                  37.74|                              3.15|                                                      40.9|                          800|                               800|                              9000|                               10700|                                    9400|             6273000|
|     1989Q2|Forestry and Mining|  Male|                        14.07|                   16.44|                                           14.24|                                   36.9|                              2.87|                                                     39.77|                          800|                               900|                              8100|                                9800|                                    8600|             5601500|
|     1989Q3|Forestry and Mining|  Male|                        14.04|                   16.64|                                           14.23|                                  37.22|                              2.81|                                                     40.03|                          800|                               800|                              7900|                                9500|                                    8300|             5417300|
|     1989Q4|Forestry and Mining|  Male|                         14.3|                    16.5|                                           14.48|                                  36.41|                              3.31|                                                     39.72|                          800|                               900|                              7500|                                9200|                                    7900|             5228800|
|     1990Q1|Forestry and Mining|  Male|                        14.29|                   16.16|                                           14.42|                                  36.78|                              2.87|                                                     39.65|                          800|                               800|                              7700|                                9400|                                    8100|             5234500|
|     1990Q2|Forestry and Mining|  Male|                        14.37|                   17.49|                                            14.6|                                  36.89|                              3.06|                                                     39.96|                          800|                               800|                              7100|                                8800|                                    7500|             5004300|
|     1990Q3|Forestry and Mining|  Male|                        14.64|                   18.36|                                           14.88|                                  36.62|                              2.51|                                                     39.13|                          800|                               800|                              7700|                                9300|                                    8100|             5385500|
|     1990Q4|Forestry and Mining|  Male|                        14.96|                   17.49|                                           15.16|                                  36.77|                              3.21|                                                     39.97|                          800|                               800|                              7400|                                9000|                                    7800|             5388800|
|     1991Q1|Forestry and Mining|  Male|                        14.71|                   17.32|                                           14.89|                                  37.43|                              2.82|                                                     40.25|                          800|                               800|                              8100|                                9700|                                    8500|             5769000|
|     1991Q2|Forestry and Mining|  Male|                        15.16|                   17.92|                                           15.35|                                  37.52|                              2.87|                                                     40.39|                          800|                               800|                              7500|                                9100|                                    7800|             5560500|
|     1991Q3|Forestry and Mining|  Male|                        15.63|                   18.49|                                           15.82|                                  37.68|                              2.66|                                                     40.34|                          800|                               800|                              7500|                                9100|                                    7800|             5727100|
|     1991Q4|Forestry and Mining|  Male|                        16.13|                   18.23|                                           16.29|                                  36.87|                              3.01|                                                     39.88|                          900|                               800|                              7500|                                9200|                                    7900|             5879700|
|     1992Q1|Forestry and Mining|  Male|                        15.55|                   17.83|                                           15.73|                                  37.64|                              3.34|                                                     40.98|                          900|                               700|                              8400|                               10000|                                    8800|             6338500|
|     1992Q2|Forestry and Mining|  Male|                        15.74|                    18.5|                                           15.98|                                  38.17|                               3.7|                                                     41.87|                          900|                               700|                              7700|                                9200|                                    8000|             5993000|
|     1992Q3|Forestry and Mining|  Male|                        15.87|                    18.6|                                           16.09|                                  37.89|                              3.26|                                                     41.16|                          900|                               700|                              7600|                                9300|                                    8000|             5995200|
|     1992Q4|Forestry and Mining|  Male|                         15.7|                   18.25|                                           15.91|                                   37.8|                              3.49|                                                     41.29|                          900|                               700|                              7500|                                9200|                                    7900|             5815100|
|     1993Q1|Forestry and Mining|  Male|                        15.05|                    18.6|                                           15.31|                                  38.05|                              2.95|                                                      41.0|                         1000|                               700|                              9100|                               10800|                                    9500|             6628800|
|     1993Q2|Forestry and Mining|  Male|                         14.9|                   18.94|                                           15.23|                                  37.89|                              3.35|                                                     41.23|                         1000|                               600|                              8300|                                9900|                                    8600|             5956400|
|     1993Q3|Forestry and Mining|  Male|                        14.84|                   19.27|                                           15.16|                                  37.69|                              2.93|                                                     40.62|                         1100|                               700|                              8400|                               10100|                                    8700|             5954400|
|     1993Q4|Forestry and Mining|  Male|                        15.09|                   17.86|                                           15.32|                                  37.77|                              3.41|                                                     41.18|                         1100|                               700|                              8400|                               10200|                                    8700|             6107000|
+-----------+-------------------+------+-----------------------------+------------------------+------------------------------------------------+---------------------------------------+----------------------------------+----------------------------------------------------------+-----------------------------+----------------------------------+----------------------------------+------------------------------------+----------------------------------------+--------------------+
only showing top 20 rows

In [30]:
combined = combined1.toPandas()

In [31]:
combined0 = combined.pivot_table(index=['YearQuarter', 'Industry'], columns='Gender')

In [32]:
df = spark.createDataFrame(combined0.reset_index(drop=False))
df.show()
df.dtypes

+-------------------+--------------------+------------------------------------------------------------------------+----------------------------------------------------------------------+-----------------------------------------------------+---------------------------------------------------+------------------------------------------------+----------------------------------------------+------------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------------------------+------------------------------------------------+----------------------------------------------+-------------------------------------------+-----------------------------------------+-------------------------------------------+-----------------------------------------+--------------------------------------+------------------------------------+--------------------------------------------------------------+------------------------------------------------------------+----------------------------------+--------------------------------+--------------------------------------------------+------------------------------------------------+
|('YearQuarter', '')|    ('Industry', '')|('Average Total (Ordinary Time + Overtime) Weekly Hours Paid', 'Female')|('Average Total (Ordinary Time + Overtime) Weekly Hours Paid', 'Male')|('Average Weekly Ordinary Time Hours Paid', 'Female')|('Average Weekly Ordinary Time Hours Paid', 'Male')|('Average Weekly Overtime Hours Paid', 'Female')|('Average Weekly Overtime Hours Paid', 'Male')|('Number of Full-Time Equivalent Employees', 'Female')|('Number of Full-Time Equivalent Employees', 'Male')|('Number of Full-Time Paid Employees', 'Female')|('Number of Full-Time Paid Employees', 'Male')|('Number of Part-Time Paid Employees', 'Female')|('Number of Part-Time Paid Employees', 'Male')|('Number of Working Proprietors', 'Female')|('Number of Working Proprietors', 'Male')|('Ordinary Time Hourly Earnings', 'Female')|('Ordinary Time Hourly Earnings', 'Male')|('Overtime Hourly Earnings', 'Female')|('Overtime Hourly Earnings', 'Male')|('Total (Ordinary Time + Overtime) Hourly Earnings', 'Female')|('Total (Ordinary Time + Overtime) Hourly Earnings', 'Male')|('Total Gross Earnings', 'Female')|('Total Gross Earnings', 'Male')|('Total Number of People in Employment', 'Female')|('Total Number of People in Employment', 'Male')|
+-------------------+--------------------+------------------------------------------------------------------------+----------------------------------------------------------------------+-----------------------------------------------------+---------------------------------------------------+------------------------------------------------+----------------------------------------------+------------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------------------------+------------------------------------------------+----------------------------------------------+-------------------------------------------+-----------------------------------------+-------------------------------------------+-----------------------------------------+--------------------------------------+------------------------------------+--------------------------------------------------------------+------------------------------------------------------------+----------------------------------+--------------------------------+--------------------------------------------------+------------------------------------------------+
|             1989Q1|Accommodation and...|                                                                   21.65|                                                                 26.64|                                                20.77|                                              25.58|                                            0.89|                                          1.06|                                                 24800|                                               18400|                                           12300|                                         12800|                                           25200|                                         11300|                                       3900|                                     5000|                                       9.07|                                    10.52|                                 12.26|                               13.05|                                                           9.2|                                                       10.62|                          14269600|                        14269600|                                             41300|                                           29100|
|             1989Q1|      All Industries|                                                                   30.16|                                                                 38.22|                                                29.26|                                              35.62|                                            0.91|                                          2.61|                                                421500|                                              563300|                                          331700|                                        533200|                                          179600|                                         60300|                                      31500|                                    76900|                                      11.48|                                    13.91|                                 14.29|                               16.46|                                                         11.56|                                                       14.09|                         497885400|                       497885400|                                            542800|                                          670400|
|             1989Q1|Arts, Recreation ...|                                                                   27.67|                                                                 35.82|                                                 27.0|                                              34.38|                                            0.67|                                          1.44|                                                 17200|                                               24800|                                           12100|                                         23100|                                           10000|                                          3400|                                       4300|                                     8800|                                      10.42|                                     13.1|                                 13.45|                               17.26|                                                         10.49|                                                       13.26|                          19038500|                        19038500|                                             26500|                                           35300|
|             1989Q1|        Construction|                                                                   27.48|                                                                 42.46|                                                 27.1|                                              38.48|                                            0.38|                                          3.98|                                                  4400|                                               50300|                                            3000|                                         49400|                                            2700|                                          1700|                                       3100|                                    10800|                                      10.61|                                    11.44|                                 15.02|                                15.3|                                                         10.67|                                                       11.81|                          27299800|                        27299800|                                              8900|                                           61900|
|             1989Q1|Education and Tra...|                                                                    29.5|                                                                  35.8|                                                29.43|                                              35.67|                                            0.07|                                          0.13|                                                 43000|                                               29200|                                           33400|                                         26700|                                           19300|                                          5000|                                        400|                                      400|                                      14.59|                                     17.8|                                  15.1|                               15.71|                                                         14.59|                                                       17.79|                          42837900|                        42837900|                                             53000|                                           32000|
|             1989Q1|Electricity, Gas,...|                                                                   35.12|                                                                 40.51|                                                34.39|                                              37.96|                                            0.73|                                          2.55|                                                  2900|                                               15300|                                            2700|                                         15100|                                             500|                                           400|                                          0|                                      200|                                      11.65|                                    14.02|                                 17.61|                               18.81|                                                         11.77|                                                       14.32|                          10259500|                        10259500|                                              3200|                                           15600|
|             1989Q1|Financial and Ins...|                                                                   34.05|                                                                 37.53|                                                33.57|                                              36.93|                                            0.48|                                          0.61|                                                 29700|                                               20000|                                           27100|                                         19700|                                            5400|                                           700|                                        400|                                      900|                                      11.55|                                    17.12|                                 15.48|                               17.75|                                                         11.61|                                                       17.13|                          25892200|                        25892200|                                             32800|                                           21300|
|             1989Q1| Forestry and Mining|                                                                   28.49|                                                                  40.9|                                                27.91|                                              37.74|                                            0.59|                                          3.15|                                                  1400|                                                9400|                                            1200|                                          9000|                                             600|                                           800|                                        200|                                      800|                                      11.19|                                    13.97|                                 15.42|                               16.74|                                                         11.28|                                                       14.18|                           6273000|                         6273000|                                              1900|                                           10700|
|             1989Q1|Health Care and S...|                                                                   28.08|                                                                 36.15|                                                 27.5|                                              35.04|                                            0.58|                                          1.11|                                                 64400|                                               17200|                                           45400|                                         15700|                                           38000|                                          3100|                                       1200|                                     4200|                                      12.84|                                     16.6|                                 15.62|                               16.83|                                                          12.9|                                                        16.6|                          41481000|                        41481000|                                             84600|                                           23000|
|             1989Q1|Information Media...|                                                                   32.92|                                                                 36.29|                                                32.34|                                              34.86|                                            0.58|                                          1.43|                                                 10700|                                               11000|                                            9600|                                         10600|                                            2300|                                           900|                                        100|                                      400|                                      13.98|                                     20.2|                                 17.46|                               21.47|                                                         14.04|                                                       20.25|                          13900800|                        13900800|                                             12000|                                           11800|
|             1989Q1|       Manufacturing|                                                                   34.79|                                                                 40.58|                                                33.13|                                              36.68|                                            1.65|                                          3.91|                                                 62300|                                              162200|                                           56400|                                        160000|                                           11900|                                          4500|                                       4500|                                    11700|                                       9.76|                                    12.99|                                 14.22|                               17.14|                                                          9.97|                                                       13.39|                         113051700|                       113051700|                                             72800|                                          176200|
|             1989Q1|Professional, Sci...|                                                                   30.02|                                                                 35.47|                                                29.58|                                              34.36|                                            0.44|                                          1.11|                                                 38000|                                               32600|                                           30500|                                         30300|                                           15000|                                          4700|                                       2500|                                    11500|                                      12.57|                                    17.28|                                 15.62|                               17.95|                                                         12.61|                                                        17.3|                          38655300|                        38655300|                                             47900|                                           46500|
|             1989Q1|Public Administra...|                                                                   33.82|                                                                  37.9|                                                33.35|                                              36.74|                                            0.47|                                          1.17|                                                 28900|                                               37500|                                           27100|                                         36800|                                            3600|                                          1300|                                        100|                                      200|                                      12.82|                                    16.93|                                 17.01|                               19.36|                                                         12.88|                                                        17.0|                          37938800|                        37938800|                                             30800|                                           38300|

[("('YearQuarter', '')", 'string'),
 ("('Industry', '')", 'string'),
 ("('Average Total (Ordinary Time + Overtime) Weekly Hours Paid', 'Female')",
  'double'),
 ("('Average Total (Ordinary Time + Overtime) Weekly Hours Paid', 'Male')",
  'double'),
 ("('Average Weekly Ordinary Time Hours Paid', 'Female')", 'double'),
 ("('Average Weekly Ordinary Time Hours Paid', 'Male')", 'double'),
 ("('Average Weekly Overtime Hours Paid', 'Female')", 'double'),
 ("('Average Weekly Overtime Hours Paid', 'Male')", 'double'),
 ("('Number of Full-Time Equivalent Employees', 'Female')", 'bigint'),
 ("('Number of Full-Time Equivalent Employees', 'Male')", 'bigint'),
 ("('Number of Full-Time Paid Employees', 'Female')", 'bigint'),
 ("('Number of Full-Time Paid Employees', 'Male')", 'bigint'),
 ("('Number of Part-Time Paid Employees', 'Female')", 'bigint'),
 ("('Number of Part-Time Paid Employees', 'Male')", 'bigint'),
 ("('Number of Working Proprietors', 'Female')", 'bigint'),
 ("('Number of Working Proprietors', 'Male')", 'bigint'),
 ("('Ordinary Time Hourly Earnings', 'Female')", 'double'),
 ("('Ordinary Time Hourly Earnings', 'Male')", 'double'),
 ("('Overtime Hourly Earnings', 'Female')", 'double'),
 ("('Overtime Hourly Earnings', 'Male')", 'double'),
 ("('Total (Ordinary Time + Overtime) Hourly Earnings', 'Female')", 'double'),
 ("('Total (Ordinary Time + Overtime) Hourly Earnings', 'Male')", 'double'),
 ("('Total Gross Earnings', 'Female')", 'bigint'),
 ("('Total Gross Earnings', 'Male')", 'bigint'),
 ("('Total Number of People in Employment', 'Female')", 'bigint'),
 ("('Total Number of People in Employment', 'Male')", 'bigint')]

In [33]:
import re

def clean_df_names(df):
    l = df.columns
    cols = [c.replace(' ','').replace('(','').replace(')','').replace(',', '').replace("'", '').replace("+", '').strip() for c in l]
    return df.toDF(*cols)

clean_df = clean_df_names(df)

clean_df.show()

+-----------+--------------------+-----------------------------------------------------+---------------------------------------------------+----------------------------------------+--------------------------------------+------------------------------------+----------------------------------+------------------------------------------+----------------------------------------+------------------------------------+----------------------------------+------------------------------------+----------------------------------+--------------------------------+------------------------------+--------------------------------+------------------------------+----------------------------+--------------------------+---------------------------------------------+-------------------------------------------+------------------------+----------------------+-------------------------------------+-----------------------------------+
|YearQuarter|            Industry|AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidFemale|AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidMale|AverageWeeklyOrdinaryTimeHoursPaidFemale|AverageWeeklyOrdinaryTimeHoursPaidMale|AverageWeeklyOvertimeHoursPaidFemale|AverageWeeklyOvertimeHoursPaidMale|NumberofFull-TimeEquivalentEmployeesFemale|NumberofFull-TimeEquivalentEmployeesMale|NumberofFull-TimePaidEmployeesFemale|NumberofFull-TimePaidEmployeesMale|NumberofPart-TimePaidEmployeesFemale|NumberofPart-TimePaidEmployeesMale|NumberofWorkingProprietorsFemale|NumberofWorkingProprietorsMale|OrdinaryTimeHourlyEarningsFemale|OrdinaryTimeHourlyEarningsMale|OvertimeHourlyEarningsFemale|OvertimeHourlyEarningsMale|TotalOrdinaryTimeOvertimeHourlyEarningsFemale|TotalOrdinaryTimeOvertimeHourlyEarningsMale|TotalGrossEarningsFemale|TotalGrossEarningsMale|TotalNumberofPeopleinEmploymentFemale|TotalNumberofPeopleinEmploymentMale|
+-----------+--------------------+-----------------------------------------------------+---------------------------------------------------+----------------------------------------+--------------------------------------+------------------------------------+----------------------------------+------------------------------------------+----------------------------------------+------------------------------------+----------------------------------+------------------------------------+----------------------------------+--------------------------------+------------------------------+--------------------------------+------------------------------+----------------------------+--------------------------+---------------------------------------------+-------------------------------------------+------------------------+----------------------+-------------------------------------+-----------------------------------+
|     1989Q1|Accommodation and...|                                                21.65|                                              26.64|                                   20.77|                                 25.58|                                0.89|                              1.06|                                     24800|                                   18400|                               12300|                             12800|                               25200|                             11300|                            3900|                          5000|                            9.07|                         10.52|                       12.26|                     13.05|                                          9.2|                                      10.62|                14269600|              14269600|                                41300|                              29100|
|     1989Q1|      All Industries|                                                30.16|                                              38.22|                                   29.26|                                 35.62|                                0.91|                              2.61|                                    421500|                                  563300|                              331700|                            533200|                              179600|                             60300|                           31500|                         76900|                           11.48|                         13.91|                       14.29|                     16.46|                                        11.56|                                      14.09|               497885400|             497885400|                               542800|                             670400|
|     1989Q1|Arts, Recreation ...|                                                27.67|                                              35.82|                                    27.0|                                 34.38|                                0.67|                              1.44|                                     17200|                                   24800|                               12100|                             23100|                               10000|                              3400|                            4300|                          8800|                           10.42|                          13.1|                       13.45|                     17.26|                                        10.49|                                      13.26|                19038500|              19038500|                                26500|                              35300|
|     1989Q1|        Construction|                                                27.48|                                              42.46|                                    27.1|                                 38.48|                                0.38|                              3.98|                                      4400|                                   50300|                                3000|                             49400|                                2700|                              1700|                            3100|                         10800|                           10.61|                         11.44|                       15.02|                      15.3|                                        10.67|                                      11.81|                27299800|              27299800|                                 8900|                              61900|
|     1989Q1|Education and Tra...|                                                 29.5|                                               35.8|                                   29.43|                                 35.67|                                0.07|                              0.13|                                     43000|                                   29200|                               33400|                             26700|                               19300|                              5000|                             400|                           400|                           14.59|                          17.8|                        15.1|                     15.71|                                        14.59|                                      17.79|                42837900|              42837900|                                53000|                              32000|
|     1989Q1|Electricity, Gas,...|                                                35.12|                                              40.51|                                   34.39|                                 37.96|                                0.73|                              2.55|                                      2900|                                   15300|                                2700|                             15100|                                 500|                               400|                               0|                           200|                           11.65|                         14.02|                       17.61|                     18.81|                                        11.77|                                      14.32|                10259500|              10259500|                                 3200|                              15600|
|     1989Q1|Financial and Ins...|                                                34.05|                                              37.53|                                   33.57|                                 36.93|                                0.48|                              0.61|                                     29700|                                   20000|                               27100|                             19700|                                5400|                               700|                             400|                           900|                           11.55|                         17.12|                       15.48|                     17.75|                                        11.61|                                      17.13|                25892200|              25892200|                                32800|                              21300|
|     1989Q1| Forestry and Mining|                                                28.49|                                               40.9|                                   27.91|                                 37.74|                                0.59|                              3.15|                                      1400|                                    9400|                                1200|                              9000|                                 600|                               800|                             200|                           800|                           11.19|                         13.97|                       15.42|                     16.74|                                        11.28|                                      14.18|                 6273000|               6273000|                                 1900|                              10700|
|     1989Q1|Health Care and S...|                                                28.08|                                              36.15|                                    27.5|                                 35.04|                                0.58|                              1.11|                                     64400|                                   17200|                               45400|                             15700|                               38000|                              3100|                            1200|                          4200|                           12.84|                          16.6|                       15.62|                     16.83|                                         12.9|                                       16.6|                41481000|              41481000|                                84600|                              23000|
|     1989Q1|Information Media...|                                                32.92|                                              36.29|                                   32.34|                                 34.86|                                0.58|                              1.43|                                     10700|                                   11000|                                9600|                             10600|                                2300|                               900|                             100|                           400|                           13.98|                          20.2|                       17.46|                     21.47|                                        14.04|                                      20.25|                13900800|              13900800|                                12000|                              11800|
|     1989Q1|       Manufacturing|                                                34.79|                                              40.58|                                   33.13|                                 36.68|                                1.65|                              3.91|                                     62300|                                  162200|                               56400|                            160000|                               11900|                              4500|                            4500|                         11700|                            9.76|                         12.99|                       14.22|                     17.14|                                         9.97|                                      13.39|               113051700|             113051700|                                72800|                             176200|
|     1989Q1|Professional, Sci...|                                                30.02|                                              35.47|                                   29.58|                                 34.36|                                0.44|                              1.11|                                     38000|                                   32600|                               30500|                             30300|                               15000|                              4700|                            2500|                         11500|                           12.57|                         17.28|                       15.62|                     17.95|                                        12.61|                                       17.3|                38655300|              38655300|                                47900|                              46500|
|     1989Q1|Public Administra...|                                                33.82|                                               37.9|                                   33.35|                                 36.74|                                0.47|                              1.17|                                     28900|                                   37500|                               27100|                             36800|                                3600|                              1300|                             100|                           200|                           12.82|                         16.93|                       17.01|                     19.36|                                        12.88|                                       17.0|                37938800|              37938800|                                30800|                              38300|
|     1989Q1|Rental, Hiring an...|                                                31.76|                                              36.93|                                    31.5|                                  36.7|                                0.26|                              0.22|                                      5800|                                    3900|                                4700|                              3600|                                2100|                               600|                             500|                          3000|                           11.32|                         14.39|                       25.14|                     10.19|                                        11.43|                                      14.37|                 4721200|               4721200|                                 7300|                               7200|
|     1989Q1|        Retail Trade|                                                26.45|                                              31.98|                                   24.51|                                 29.48|                                1.94|                               2.5|                                     49600|                                   44400|                               32400|                             36300|                               34200|                             16400|                            7700|                         10900|                            8.74|                          10.3|                       12.03|                     12.31|                                         8.98|                                      10.45|                33436900|              33436900|                                74400|                              63500|
|     1989Q1|Transport, Postal...|                                                37.54|                                              43.23|                                    35.7|                                 38.28|                                1.84|                              4.95|                                     17800|                                   43500|                               15600|                             41900|                                4300|                              3400|                            1000|                          3300|                           10.39|                         13.16|                       19.03|                     16.79|                                        10.81|                                      13.58|                34626100|              34626100|                                21000|                              48500|
|     1989Q1|     Wholesale Trade|                                                34.26|                                              39.21|                                    33.4|                                 37.56|                                0.87|                              1.66|                                     20600|                                   43400|                               18400|                             42300|                                4500|                              2200|                            1600|                          4800|                           11.52|                         14.32|                       14.31|                      15.7|                                        11.59|                                      14.38|                34203100|              34203100|                                24400|                              49400|
|     1989Q2|Accommodation and...|                                                20.91|                                              26.17|                                   20.16|                                 25.25|                                0.75|                              0.91|                                     24500|                                   17800|                               11200|                             12100|                               26500|                             11300|                            4000|                          5100|                            9.19|                         10.45|                       12.68|                     13.11|                                         9.31|                                      10.55|                13800100|              13800100|                                41700|                              28500|

In [34]:
clean_df.dtypes

[('YearQuarter', 'string'),
 ('Industry', 'string'),
 ('AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidFemale', 'double'),
 ('AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidMale', 'double'),
 ('AverageWeeklyOrdinaryTimeHoursPaidFemale', 'double'),
 ('AverageWeeklyOrdinaryTimeHoursPaidMale', 'double'),
 ('AverageWeeklyOvertimeHoursPaidFemale', 'double'),
 ('AverageWeeklyOvertimeHoursPaidMale', 'double'),
 ('NumberofFull-TimeEquivalentEmployeesFemale', 'bigint'),
 ('NumberofFull-TimeEquivalentEmployeesMale', 'bigint'),
 ('NumberofFull-TimePaidEmployeesFemale', 'bigint'),
 ('NumberofFull-TimePaidEmployeesMale', 'bigint'),
 ('NumberofPart-TimePaidEmployeesFemale', 'bigint'),
 ('NumberofPart-TimePaidEmployeesMale', 'bigint'),
 ('NumberofWorkingProprietorsFemale', 'bigint'),
 ('NumberofWorkingProprietorsMale', 'bigint'),
 ('OrdinaryTimeHourlyEarningsFemale', 'double'),
 ('OrdinaryTimeHourlyEarningsMale', 'double'),
 ('OvertimeHourlyEarningsFemale', 'double'),
 ('OvertimeHourlyEarningsMale', 'double'),
 ('TotalOrdinaryTimeOvertimeHourlyEarningsFemale', 'double'),
 ('TotalOrdinaryTimeOvertimeHourlyEarningsMale', 'double'),
 ('TotalGrossEarningsFemale', 'bigint'),
 ('TotalGrossEarningsMale', 'bigint'),
 ('TotalNumberofPeopleinEmploymentFemale', 'bigint'),
 ('TotalNumberofPeopleinEmploymentMale', 'bigint')]

In [35]:
new_df = clean_df.withColumn("AverageHourlyPayDifference" , clean_df['TotalOrdinaryTimeOvertimeHourlyEarningsMale'] - clean_df['TotalOrdinaryTimeOvertimeHourlyEarningsFemale'])
new_df.show()

+-----------+--------------------+-----------------------------------------------------+---------------------------------------------------+----------------------------------------+--------------------------------------+------------------------------------+----------------------------------+------------------------------------------+----------------------------------------+------------------------------------+----------------------------------+------------------------------------+----------------------------------+--------------------------------+------------------------------+--------------------------------+------------------------------+----------------------------+--------------------------+---------------------------------------------+-------------------------------------------+------------------------+----------------------+-------------------------------------+-----------------------------------+--------------------------+
|YearQuarter|            Industry|AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidFemale|AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidMale|AverageWeeklyOrdinaryTimeHoursPaidFemale|AverageWeeklyOrdinaryTimeHoursPaidMale|AverageWeeklyOvertimeHoursPaidFemale|AverageWeeklyOvertimeHoursPaidMale|NumberofFull-TimeEquivalentEmployeesFemale|NumberofFull-TimeEquivalentEmployeesMale|NumberofFull-TimePaidEmployeesFemale|NumberofFull-TimePaidEmployeesMale|NumberofPart-TimePaidEmployeesFemale|NumberofPart-TimePaidEmployeesMale|NumberofWorkingProprietorsFemale|NumberofWorkingProprietorsMale|OrdinaryTimeHourlyEarningsFemale|OrdinaryTimeHourlyEarningsMale|OvertimeHourlyEarningsFemale|OvertimeHourlyEarningsMale|TotalOrdinaryTimeOvertimeHourlyEarningsFemale|TotalOrdinaryTimeOvertimeHourlyEarningsMale|TotalGrossEarningsFemale|TotalGrossEarningsMale|TotalNumberofPeopleinEmploymentFemale|TotalNumberofPeopleinEmploymentMale|AverageHourlyPayDifference|
+-----------+--------------------+-----------------------------------------------------+---------------------------------------------------+----------------------------------------+--------------------------------------+------------------------------------+----------------------------------+------------------------------------------+----------------------------------------+------------------------------------+----------------------------------+------------------------------------+----------------------------------+--------------------------------+------------------------------+--------------------------------+------------------------------+----------------------------+--------------------------+---------------------------------------------+-------------------------------------------+------------------------+----------------------+-------------------------------------+-----------------------------------+--------------------------+
|     1989Q1|Accommodation and...|                                                21.65|                                              26.64|                                   20.77|                                 25.58|                                0.89|                              1.06|                                     24800|                                   18400|                               12300|                             12800|                               25200|                             11300|                            3900|                          5000|                            9.07|                         10.52|                       12.26|                     13.05|                                          9.2|                                      10.62|                14269600|              14269600|                                41300|                              29100|                      1.42|
|     1989Q1|      All Industries|                                                30.16|                                              38.22|                                   29.26|                                 35.62|                                0.91|                              2.61|                                    421500|                                  563300|                              331700|                            533200|                              179600|                             60300|                           31500|                         76900|                           11.48|                         13.91|                       14.29|                     16.46|                                        11.56|                                      14.09|               497885400|             497885400|                               542800|                             670400|        2.5299999999999994|
|     1989Q1|Arts, Recreation ...|                                                27.67|                                              35.82|                                    27.0|                                 34.38|                                0.67|                              1.44|                                     17200|                                   24800|                               12100|                             23100|                               10000|                              3400|                            4300|                          8800|                           10.42|                          13.1|                       13.45|                     17.26|                                        10.49|                                      13.26|                19038500|              19038500|                                26500|                              35300|        2.7699999999999996|
|     1989Q1|        Construction|                                                27.48|                                              42.46|                                    27.1|                                 38.48|                                0.38|                              3.98|                                      4400|                                   50300|                                3000|                             49400|                                2700|                              1700|                            3100|                         10800|                           10.61|                         11.44|                       15.02|                      15.3|                                        10.67|                                      11.81|                27299800|              27299800|                                 8900|                              61900|        1.1400000000000006|
|     1989Q1|Education and Tra...|                                                 29.5|                                               35.8|                                   29.43|                                 35.67|                                0.07|                              0.13|                                     43000|                                   29200|                               33400|                             26700|                               19300|                              5000|                             400|                           400|                           14.59|                          17.8|                        15.1|                     15.71|                                        14.59|                                      17.79|                42837900|              42837900|                                53000|                              32000|        3.1999999999999993|
|     1989Q1|Electricity, Gas,...|                                                35.12|                                              40.51|                                   34.39|                                 37.96|                                0.73|                              2.55|                                      2900|                                   15300|                                2700|                             15100|                                 500|                               400|                               0|                           200|                           11.65|                         14.02|                       17.61|                     18.81|                                        11.77|                                      14.32|                10259500|              10259500|                                 3200|                              15600|        2.5500000000000007|
|     1989Q1|Financial and Ins...|                                                34.05|                                              37.53|                                   33.57|                                 36.93|                                0.48|                              0.61|                                     29700|                                   20000|                               27100|                             19700|                                5400|                               700|                             400|                           900|                           11.55|                         17.12|                       15.48|                     17.75|                                        11.61|                                      17.13|                25892200|              25892200|                                32800|                              21300|                      5.52|
|     1989Q1| Forestry and Mining|                                                28.49|                                               40.9|                                   27.91|                                 37.74|                                0.59|                              3.15|                                      1400|                                    9400|                                1200|                              9000|                                 600|                               800|                             200|                           800|                           11.19|                         13.97|                       15.42|                     16.74|                                        11.28|                                      14.18|                 6273000|               6273000|                                 1900|                              10700|        2.9000000000000004|
|     1989Q1|Health Care and S...|                                                28.08|                                              36.15|                                    27.5|                                 35.04|                                0.58|                              1.11|                                     64400|                                   17200|                               45400|                             15700|                               38000|                              3100|                            1200|                          4200|                           12.84|                          16.6|                       15.62|                     16.83|                                         12.9|                                       16.6|                41481000|              41481000|                                84600|                              23000|         3.700000000000001|
|     1989Q1|Information Media...|                                                32.92|                                              36.29|                                   32.34|                                 34.86|                                0.58|                              1.43|                                     10700|                                   11000|                                9600|                             10600|                                2300|                               900|                             100|                           400|                           13.98|                          20.2|                       17.46|                     21.47|                                        14.04|                                      20.25|                13900800|              13900800|                                12000|                              11800|         6.210000000000001|
|     1989Q1|       Manufacturing|                                                34.79|                                              40.58|                                   33.13|                                 36.68|                                1.65|                              3.91|                                     62300|                                  162200|                               56400|                            160000|                               11900|                              4500|                            4500|                         11700|                            9.76|                         12.99|                       14.22|                     17.14|                                         9.97|                                      13.39|               113051700|             113051700|                                72800|                             176200|                      3.42|
|     1989Q1|Professional, Sci...|                                                30.02|                                              35.47|                                   29.58|                                 34.36|                                0.44|                              1.11|                                     38000|                                   32600|                               30500|                             30300|                               15000|                              4700|                            2500|                         11500|                           12.57|                         17.28|                       15.62|                     17.95|                                        12.61|                                       17.3|                38655300|              38655300|                                47900|                              46500|         4.690000000000001|
|     1989Q1|Public Administra...|                                                33.82|                                               37.9|                                   33.35|                                 36.74|                                0.47|                              1.17|                                     28900|                                   37500|                               27100|                             36800|                                3600|                              1300|                             100|                           200|                           12.82|                         16.93|                       17.01|                     19.36|                                        12.88|                                       17.0|                37938800|              37938800|                                30800|                              38300|         4.119999999999999|
|     1989Q1|Rental, Hiring an...|                                                31.76|                                              36.93|                                    31.5|                                  36.7|                                0.26|                              0.22|                                      5800|                                    3900|                                4700|                              3600|                                2100|                               600|                             500|                          3000|                           11.32|                         14.39|                       25.14|                     10.19|                                        11.43|                                      14.37|                 4721200|               4721200|                                 7300|                               7200|        2.9399999999999995|
|     1989Q1|        Retail Trade|                                                26.45|                                              31.98|                                   24.51|                                 29.48|                                1.94|                               2.5|                                     49600|                                   44400|                               32400|                             36300|                               34200|                             16400|                            7700|                         10900|                            8.74|                          10.3|                       12.03|                     12.31|                                         8.98|                                      10.45|                33436900|              33436900|                                74400|                              63500|        1.4699999999999989|
|     1989Q1|Transport, Postal...|                                                37.54|                                              43.23|                                    35.7|                                 38.28|                                1.84|                              4.95|                                     17800|                                   43500|                               15600|                             41900|                                4300|                              3400|                            1000|                          3300|                           10.39|                         13.16|                       19.03|                     16.79|                                        10.81|                                      13.58|                34626100|              34626100|                                21000|                              48500|        2.7699999999999996|
|     1989Q1|     Wholesale Trade|                                                34.26|                                              39.21|                                    33.4|                                 37.56|                                0.87|                              1.66|                                     20600|                                   43400|                               18400|                             42300|                                4500|                              2200|                            1600|                          4800|                           11.52|                         14.32|                       14.31|                      15.7|                                        11.59|                                      14.38|                34203100|              34203100|                                24400|                              49400|         2.790000000000001|
|     1989Q2|Accommodation and...|                                                20.91|                                              26.17|                                   20.16|                                 25.25|                                0.75|                              0.91|                                     24500|                                   17800|                               11200|                             12100|                               26500|                             11300|                            4000|                          5100|                            9.19|                         10.45|                       12.68|                     13.11|                                         9.31|                                      10.55|                13800100|              13800100|                                41700|                              28500|        1.2400000000000002|

In [36]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer

In [37]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols=new_df['AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidFemale','AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidMale','AverageWeeklyOrdinaryTimeHoursPaidFemale','AverageWeeklyOrdinaryTimeHoursPaidMale','AverageWeeklyOvertimeHoursPaidFemale','AverageWeeklyOvertimeHoursPaidMale','NumberofFull-TimeEquivalentEmployeesFemale','NumberofFull-TimeEquivalentEmployeesMale','NumberofFull-TimePaidEmployeesFemale','NumberofFull-TimePaidEmployeesMale','NumberofPart-TimePaidEmployeesFemale','NumberofPart-TimePaidEmployeesMale','NumberofWorkingProprietorsFemale','NumberofWorkingProprietorsMale','OrdinaryTimeHourlyEarningsFemale','OrdinaryTimeHourlyEarningsMale','OvertimeHourlyEarningsFemale','OvertimeHourlyEarningsMale','TotalOrdinaryTimeOvertimeHourlyEarningsFemale','TotalOrdinaryTimeOvertimeHourlyEarningsMale','TotalGrossEarningsFemale','TotalGrossEarningsMale','TotalNumberofPeopleinEmploymentFemale','TotalNumberofPeopleinEmploymentMale'],outputCol='features')
output = assembler.transform(data)

TypeError: Invalid param value given for param "inputCols". Could not convert DataFrame[AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidFemale: double, AverageTotalOrdinaryTimeOvertimeWeeklyHoursPaidMale: double, AverageWeeklyOrdinaryTimeHoursPaidFemale: double, AverageWeeklyOrdinaryTimeHoursPaidMale: double, AverageWeeklyOvertimeHoursPaidFemale: double, AverageWeeklyOvertimeHoursPaidMale: double, NumberofFull-TimeEquivalentEmployeesFemale: bigint, NumberofFull-TimeEquivalentEmployeesMale: bigint, NumberofFull-TimePaidEmployeesFemale: bigint, NumberofFull-TimePaidEmployeesMale: bigint, NumberofPart-TimePaidEmployeesFemale: bigint, NumberofPart-TimePaidEmployeesMale: bigint, NumberofWorkingProprietorsFemale: bigint, NumberofWorkingProprietorsMale: bigint, OrdinaryTimeHourlyEarningsFemale: double, OrdinaryTimeHourlyEarningsMale: double, OvertimeHourlyEarningsFemale: double, OvertimeHourlyEarningsMale: double, TotalOrdinaryTimeOvertimeHourlyEarningsFemale: double, TotalOrdinaryTimeOvertimeHourlyEarningsMale: double, TotalGrossEarningsFemale: bigint, TotalGrossEarningsMale: bigint, TotalNumberofPeopleinEmploymentFemale: bigint, TotalNumberofPeopleinEmploymentMale: bigint] to list of strings

In [ ]:
final_data = output.select("features",'AverageHourlyPayDifference')

In [ ]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [ ]:
from pyspark.ml.classification import DecisionTreeClassifier,GBTClassifier,RandomForestClassifier
from pyspark.ml import Pipeline

dtc = DecisionTreeClassifier(labelCol='AverageHourlyPayDifference',featuresCol='features')
rfc = RandomForestClassifier(labelCol='AverageHourlyPayDifference',featuresCol='features')
gbt = GBTClassifier(labelCol='AverageHourlyPayDifference',featuresCol='features')

In [ ]:
pipeline = Pipeline(stages=[industry_indexer,
                           assembler,lr])

In [ ]:
dtc_model = dtc.fit(train_data)
rfc_model = rfc.fit(train_data)
gbt_model = gbt.fit(train_data)

In [ ]:
dtc_predictions = dtc_model.transform(test_data)
rfc_predictions = rfc_model.transform(test_data)
gbt_predictions = gbt_model.transform(test_data)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

my_binary_eval = BinaryClassificationEvaluator(labelCol = 'AverageHourlyPayDifference')

In [ ]:
print("DTC")
print(my_binary_eval.evaluate(dtc_predictions))

print("RFC")
print(my_binary_eval.evaluate(rfc_predictions))

my_binary_gbt_eval = BinaryClassificationEvaluator(labelCol='AverageHourlyPayDifference', rawPredictionCol='prediction')
print("GBT")
print(my_binary_gbt_eval.evaluate(gbt_predictions))

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
acc_evaluator = MulticlassClassificationEvaluator(labelCol="PrivateIndex", predictionCol="prediction", metricName="accuracy")

In [ ]:
dtc_acc = acc_evaluator.evaluate(dtc_predictions)
rfc_acc = acc_evaluator.evaluate(rfc_predictions)
gbt_acc = acc_evaluator.evaluate(gbt_predictions)

In [ ]:
print("Here are the results!")
print('-'*40)
print('A single decision tree has an accuracy of: {0:2.2f}%'.format(dtc_acc*100))
print('-'*40)
print('A random forest ensemble has an accuracy of: {0:2.2f}%'.format(rfc_acc*100))
print('-'*40)
print('An ensemble using GBT has an accuracy of: {0:2.2f}%'.format(gbt_acc*100))